extends base.pug


block content
    div(class="Text-Contanier")
       div(class="Introduction")
          img(src="../static/img/c2.jpg", alt="Hi well-come you to Programminghub.com")
          div(class="text")
            h1 Best online-programming web-site(aworded-5 star by Anteryami.in)
            p Hello, friend As you know programming hub is the 
                | biggest paltfrom for codding and learning programming.
                |we provide you the best containet which use for learing
                |programming. Over teachar are master in there filed and
                | you acn find best way of learnning by sloving your 
                |dout on the time. you can asked anty time you whant 
                | no matter 10,100 or 1000.... 
            a(href="#") Read more