doctype html
html
head
style
    include ..\static\index.css
script   
    include ..\static\jQurey.js 
title ProgramingHub.com
body
div(class="main_hedding")
    h1(class="h1_hedding")|ProgramingHub.com
nav
    div(class="navbar_menues")
        ul
            li #[a(href="/") Home]
            li #[a(href="/Over Coures") Over Coures]
            li #[a(href="/about") about]

            li #[a(id="more") More>>]
            li #[a(id="more_up") Up>>]
    div(class="Left_buttons")
        form(action="/sin-up" method="GET")
            button(class="btn" id="sing-in") Sin-up

            button(class="btn" id="log-in") Log-out
        form(action="/Contect_us" method="GET")
            button(class="btn" action="POST") Contect us
div(id="mainhind_more")
    div(id="hide-one")
        div(class="one")
            ul
                li #[a(href="#") C]
                li #[a(href="#") C++]
                li #[a(href="#") Java]
                li #[a(href="#") Python]
                li #[a(href="#") c#]
                li #[a(href="#") My-SQL]
                li #[a(href="#") SQL]
                li #[a(href="#") Mongodb]
                li #[a(href="#") js]
        div(class="one")        
            ul  
                li #[a(href="#") ML]
                li #[a(href="#") AL]
                li #[a(href="#") Dl]
                li #[a(href="#") Ds]
                li #[a(href="#") Roobots]
                li #[a(href="#") Av]
                li #[a(href="#") SQL]
                li #[a(href="#") Mongodb]
                li #[a(href="#") node-js]
        div(class="one")
            ul  
                li #[a(href="#") acting]
                li #[a(href="#") Dance]
                li #[a(href="#") more..]
            

div(class="main")
    div(class="container")
        div
            img(src="../static/img/l.jpg", alt="noop")
            h1 Wellcome The ProgramingHub 
            p Where you find the best tips for programming, very nice cources on programming
              |leanvages.
            button(class="btn") Well-Come 
div(class="Text-Contanier")
   div(class="Introduction")
      img(src="../static/img/c2.jpg", alt="Hi well-come you to Programminghub.com")
      div(class="text")
        h1 Best online-programming web-site(aworded-5 star by Anteryami.in)
        p Hello, friend As you know programming hub is the 
            | biggest paltfrom for codding and learning programming.
            |we provide you the best containet which use for learing
            |programming. Over teachar are master in there filed and
            | you acn find best way of learnning by sloving your 
            |dout on the time. you can asked anty time you whant 
            | no matter 10,100 or 1000.... 
        a(href="#") Read more
   div(class="Introduction a2")
      img(src="../static/img/s1.jpg", alt="Hi well-come you to Programminghub.com")
      div(class="text")
        h1 Over programming Coures
        p Over all the progrrming coures are ranking 5 star sinence
            | 5 year. and over Cources on c ,c++ ,java and python are
            |done by most power full things like human-power and time-
            |manegment. you can also fim=nd the cources on ML and AL
            |in over web sites. So do not get varied by sing high and
            |veayed syntexs we lear you very thing in the easyest way.
            |more about over cources is they are teach by....
        a(href="#") Read more
   div(class="Introduction a3")
      img(src="../static/img/bg.jpg", alt="Hi well-come you to Programminghub.com")
      div(class="text")
        h1 You Know this befor Work with Us
        p Look, we do not took about yoiur programming consepts,
            | we are saying about your mental condition or way
            |to think while steady whit us. Look the most power
            |full thing for styding any thing is macke positive
            | atitude about your given choice. diside with care 
            | but if you do disigien than tack stand on it  
            | you always do this 10 thing to learn anything....
        a(href="#") Read more
footer
    div(class="img")
        img(src="../static/img/logo1.png", alt="X")
        img(src="../static/img/logo2.png", alt="X")
    div(class="footer_box")
        p All the copy rights goes to &copy ProgramingHub.com | AnteryamiZone | 
    div(class="img")
        img(src="../static/img/logo3.png", alt="X")
        img(src="../static/img/logo4.png", alt="X")

script   
    include ..\static\index.js 


