extends base.pug
            
block content
    div(class="main")
        div(class="container")
            div
                img(src="../static/img/l.jpg", alt="noop")
                h1 Wellcome The ProgramingHub 
                p Where you find the best tips for programming, very nice cources on programming
                  |leanvages.
                button(class="btn") Well-Come 
    div(class="Text-Contanier")
        div(class="Introduction" id="box")
            img(src="../static/img/c2.jpg", alt="Hi well-come you to Programminghub.com")
            div(class="text")
                h1 Best online-programming web-site(aworded-5 star by Anteryami.in)
                p Hello, friend As you know programming hub is the 
                    | biggest paltfrom for codding and learning programming.
                    |we provide you the best containet which use for learing
                    |programming. Over teachar are master in there filed and
                    | you acn find best way of learnning by sloving your 
                    |dout on the time. you can asked anty time you whant 
                    | no matter 10,100 or 1000.... 
                p(id="read_more" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read more
                p(id="pip" class="zee") Over all the progrrming coures are ranking 5 star sinence
                    | 5 year. and over Cources on c ,c++ ,java and python are
                    |done by most power full things like human-power and time-
                    |manegment. you can also fim=nd the cources on ML and AL
                    |in over web sites. So do not get varied by sing high and
                    |veayed syntexs we lear you very thing in the easyest way.
                    |more about over cources is they are teach by
                p(id="read_less" class="zee" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read less
        div(class="Introduction a2" id="box2")
            img(src="../static/img/s1.jpg", alt="Hi well-come you to Programminghub.com")
            div(class="text")
                h1 Over programming Coures
                p Over all the progrrming coures are ranking 5 star sinence
                    | 5 year. and over Cources on c ,c++ ,java and python are
                    |done by most power full things like human-power and time-
                    |manegment. you can also fim=nd the cources on ML and AL
                    |in over web sites. So do not get varied by sing high and
                    |veayed syntexs we lear you very thing in the easyest way.
                    |more about over cources is they are teach by....
                p(id="read_more1" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read more
                p(id="pip2" class="zee") Over all the progrrming coures are ranking 5 star sinence
                    | 5 year. and over Cources on c ,c++ ,java and python are
                    |done by most power full things like human-power and time-
                    |manegment. you can also fim=nd the cources on ML and AL
                    |in over web sites. So do not get varied by sing high and
                    |veayed syntexs we lear you very thing in the easyest way.
                    |more about over cources is they are teach by
                p(id="read_less1" class="zee" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read less
        div(class="Introduction a3" id="box3")
            img(src="../static/img/bg.jpg", alt="Hi well-come you to Programminghub.com")
            div(class="text")
                h1 You Know this befor Work with Us
                p Look, we do not took about yoiur programming consepts,
                    | we are saying about your mental condition or way
                    |to think while steady whit us. Look the most power
                    |full thing for styding any thing is macke positive
                    | atitude about your given choice. diside with care 
                    | but if you do disigien than tack stand on it  
                    | you always do this 10 thing to learn anything....
                p(id="read_more2" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read more
                p(id="pip3" class="zee") Over all the progrrming coures are ranking 5 star sinence
                    | 5 year. and over Cources on c ,c++ ,java and python are
                    |done by most power full things like human-power and time-
                    |manegment. you can also fim=nd the cources on ML and AL
                    |in over web sites. So do not get varied by sing high and
                    |veayed syntexs we lear you very thing in the easyest way.
                    |more about over cources is they are teach by
                p(id="read_less2" class="zee" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer;") Read less
   


    
