extends base.pug


block content
    div(class="Introduction a2" id="box")
        img(src="../static/img/s1.jpg", alt="Hi well-come you to Programminghub.com")
        div(class="text" )
            h1 Over programming Coures
            p Over all the progrrming coures are ranking 5 star sinence
                | 5 year. and over Cources on c ,c++ ,java and python are
                |done by most power full things like human-power and time-
                |manegment. you can also fim=nd the cources on ML and AL
                |in over web sites. So do not get varied by sing high and
                |veayed syntexs we lear you very thing in the easyest way.
                |more about over cources is they are teach by....
            p(id="read_more" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer") Read more
            p(id="pip" class="zee") Over all the progrrming coures are ranking 5 star sinence
                | 5 year. and over Cources on c ,c++ ,java and python are
                |done by most power full things like human-power and time-
                |manegment. you can also fim=nd the cources on ML and AL
                |in over web sites. So do not get varied by sing high and
                |veayed syntexs we lear you very thing in the easyest way.
                |more about over cources is they are teach by
            p(id="read_less" class="zee" style="font-width:bold; text-decoration: underline; color: blue; cursor:pointer") Read less